form {
    max-width: 25%;
    margin: 0 auto;
}


.form__data-label {
    color:rgb(85,85,95);
    margin-top: 20px;
    position: relative;
}

.form__data-label span {
    font-weight: 600;
    font-size: 14px;
}

.authorization-form__checkbox-label {
    color: #999999;
}

#authorization-form {
    display: flex;
    flex-direction: column;
}

.authorization-form__data-input {
    display: flex;
    flex-direction: column;
    border: rgb(230,230,230) 1px solid;
    width: 100%;
    height: 5vh;
    margin-top: 10px;
    padding: 6px;
    border-radius: 5px;
}

.options-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 2vh;
    margin-bottom: 5vh;
}

.authorization-form__button {
    background-color: #333333;
    color: white;
    width: 40%;
    padding: 15px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 700;
    margin-top: 16px;
}

.options-wrapper__forgot-link {
    text-decoration: none;
    color: #847f7f;
}

.authorization-form__checkbox-label, .options-wrapper__forgot-link {
    font-size: 14px;

}