* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Circe, sans-serif;
}

body {
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

header, footer {
    padding: 8px;
    text-align: center
}

.navbar__buttons a {
    text-decoration: none;
}

.container {
    flex: 1 0 auto;
}

.container h1 {
    text-align: center;
    margin-top: 20px;
}

.navbar {
    margin-top: 22px;
}

.sections-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
}

.section {
    width: 27%;
    font-family: sans-serif;
    padding: 12px;
    margin: 30px;
    border: 3px solid  #4A8EA8;
    background-color: #DCE8EE;
    border-radius: 7px;
    cursor: pointer;
}

.section h2 {
    font-size: 28px;
}

.section .quantity {
    min-width: 80px;
}

.section__content {
    font-size: 22px;
    margin-top: 26px;
}

footer {
    flex: 0 0 auto;
}